.section1-container {
  width: 100%;
  height: 100vh; 
  margin: 6rem 0;
  display: flex;
  justify-content: flex-end;

}


.beforeInnerContainer{
  width: 90%;
  height:609px
}

.inner-container {
  width: 100%;
  display: grid;
  grid-template-columns: 525px 705px;
  justify-content:space-between;
}

.inner-box1 {
  display: grid;
  /* height: auto; */
  /* width: 560px; */
  /* grid-template-columns: 525px ; */
  align-self: center;

}

.story-heading {
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.grid-second-box {
  height: 609px;
  /* width: 705px; */
  justify-self: end;

}


@media (max-width: 768px){
  .section1-container{
    height: auto;
    margin: 0px;
  }
  .beforeInnerContainer{
    width: 100%;
    height: auto;
  }

  .inner-container{
    grid-template-columns: 1fr;
  }

  .inner-box1{
    padding: 0px 10px 20px 10px;
  }
  .story-heading{
    text-align: center;
  }
  .grid-second-box{
    height:auto;
  }
}


/*second Section */

.sec2-container {
  width: 1170px;
  height: 230px;
  margin: 100px auto;
  display: grid;
  align-items: center;
}

.sec2-inner-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; /* You can adjust the gap as needed */
  align-items: center;
}

.sec2-inner-boxes {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0; /* py-6 */
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d5db;
  transition: background-color 0.3s, color 0.3s;
  color:black
}

.sec2-inner-boxes:hover {
  background-color: #db4444; /* Hover background color */
  color: white; /* Hover text color */
}

.sec2-inner-boxes:hover .iconcolor {
  filter: invert();
}

.sec2-inner-boxes:hover .iconcolorWhite {
    filter: invert(0);
  }

.textBlack{
    color: black;
    font-size: 16px;
}

.sec2-inner-boxes:hover .textBlack{
    color: white;
}

@media(max-width: 768px){
  .sec2-container{
    width: 100%;
    height: auto;
    margin:50px auto;
  }

  .sec2-inner-container{
    grid-template-columns:300px;
    justify-content: center;
  }
}




  /*Third Section  */

  .aboutthirdsection {
    width: 1170px; 
    height: 564px; 
    margin: 150px auto 10px auto; 
    display: grid;  
    grid-template-rows: 1fr; 
    align-items: center; 
  }

  .aboutthirdinnersec {
    width: 100%;         /* Takes the full width of the parent container */
    display: grid;       /* Establishes a grid layout */
    grid-template-columns: 370px 370px 370px; /* Defines three columns, each 370px wide */
    gap: 0 10px;         /* Adds a 10px horizontal gap between columns */
  }
  
  .aboutThirdBoxes {
    display: flex;         /* Enables flex layout */
    flex-direction: column; /* Stacks items vertically */
    gap: 3px;              /* Adds a 3px gap between items */
  }
  

  .aboutthirdboximg {
    width: 100%;
    height: 430px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .aboutthirdsecboxtitle {
    font-size: 32px;
    font-weight: 500;
  }
  

  @media(max-width: 768px) {
    .aboutthirdsection{
      width: 100%;
      height: auto;
      margin: 0px auto 100px auto;
    }    
    .aboutthirdinnersec{
      grid-template-columns: 1fr;
    }

    .aboutThirdBoxes{
      align-items: center;
      border: 1px solid gray;
    }
  }
  