/* Navbar.css */

.main-navbar {
    width: 100%;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 1170px; /* You can consider using max-width for responsiveness */
    margin: auto;
  }
  
  .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 645px;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .navbar-title {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold; /* font-bold */
  }
  
  .navbar-links {
    display: flex;
    gap: 32px; /* gap-8 */
    font-size: 1rem; /* text-base */
  }
  
  .search-container {
    position: relative;
    width: 243px; /* Custom width for input */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
  }
  
  .search-input {
    width: 243px;
    height: 38px; /* h-[38px] */
    padding: 1px 24px; /* Adjust for px and py */
    border: 0;
    border-radius: 0.375rem; /* rounded-md */
    background-color: #e2e8f0; /* bg-slate-200 */
    font-size: 12px; /* placeholder:text-[12px] */
  }
  
  .search-icon {
    position: absolute;
    right: 16px; /* Adjust for spacing */
    color: black;
    font-size: 2rem; /* text-2xl */
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem; /* text-2xl */
    margin-left: 8px; /* ml-2 */
    width: 80px;
  }
  
  .divider {
    width: 100%;
    height: 2px; /* h-[2px] */
    background-color: black;
  }
  
  li{
    list-style-type: none;
  }

  .navMobileMenu{
    /* display: none; */
  }

  @media (max-width: 768px){
    .navbar-links, .search-container, .icon-container {
     display: none;
    }

    .navbar-links{
      flex-direction: column;
    }

    .navMobileMenuLink{
      display: flex;

    }

    .navbar-container{
      width:auto;
    }

    .navMobileMenu{
      display:inline;
    }
  }